/* Esta parte del CSS es para la plantilla. */
#autor {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(55, 143, 194);
  outline: auto;
  outline-color: black;
}

.ejercicios {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
  background-image: url('fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.jazz-header {
  background: transparent;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jazz-header h1 {
  font-size: 56px;
  font-family: Audiowide;
  color: #ff66cc;
  text-shadow: 0 0 1px #ff66cc, 0 0 1px #ff66cc, 0 0 1px #ff33cc, 0 0 20px #ff33cc, 0 0 40px #ff33cc;
}

.ejercicios h2 {
  color: white;
}

.evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
  width: 80%;
  transform: rotate(-10deg);
  font-family: 'Arial', sans-serif;
}

.evento p {
  color: #00eeff;
  font-size: 23px;
  text-shadow: 0 0 1px #070004, 0 0 1px #000000, 0 0 1px #000000, 0 0 20px #000000, 0 0 40px #000000;
}

.evento img {
  width: 500px;
  height: auto;
  filter: grayscale(100%);
  margin-top: 20px;
  border-radius: 10px;
}